# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
.env
.env.*
*.db

# Node
dist/
build/
node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# IDE
.vscode/
.idea/

# Git
*.orig
